.dayOverview {
    /* text-align: center;
    height: 100%; */
    margin: 20px 0;
  }
  /* .cardContent {
    text-align: center;
    height: calc(100% - 40px);
  } */
  /* .date {
    height: 25%;
    width: 100%;
    font-weight: lighter;
    color: #68696b;
    font-size: 2vw;
  } */
  /* .image {
    height: 90%;
    width: 60%;
  } */
  /* .temp {
    text-align: center;
    font-size: 4vw;
  } */
  /* .desc {
    height: 14%;
    font-size: 3vw;
  } */
  .humidityAndWind {
    /* height: 25%;
    width: 100%; */
    display: flex;
    justify-content: space-evenly;
  }
  /* .leftBottom {
    display: flex;
  } */
  /* .humidity {
    width: 50%;
  } */
  /* .wind {
    width: 50%;
  } */
  /* .humLabel {
    font-weight: lighter;
    color: #68696b;
  } */
  /* .windLabel {
    font-weight: lighter;
    color: #68696b;
  } */
  .imageAndTemp {
    /* height: 36%;
    display: flex;
    align-items: center; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  /* .sup {
    font-size: 2vw;
  } */