/* .daySelector > div:nth-child(1) {
  background-color: #ebf2fb;
} */

@media screen and (min-width: 1280px) {
  .daySelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
